#useDynLib(Directional, .registration = TRUE)

importFrom("MASS", mvrnorm)
importFrom("graphics", contour, lines, plot, points, abline)
importFrom("stats", aggregate, coef, cor, dnorm, kmeans,
           .lm.fit, optim, optimize, pchisq, pf, pnorm, qchisq,
           quantile, rbeta, rnorm, runif, sd, uniroot, qnorm,
            cov, model.matrix, nlm, integrate, rbinom)
importFrom("Rfast", colVars, mahala, colmeans, colsums, rowmeans, rowsums,
           sort_mat, colMedians, rowMins, rowMaxs, colMaxs, rvmf, vmf.mle,
		       rvonmises, acg.mle, racg, vm.mle, iag.mle, colhameans, multivmf.mle,
		       Sort, spml.reg, spml.mle, mediandir, circlin.cor, Table, colnth,
		       wrapcauchy.mle, colOrder)

import("doParallel")
import("parallel")
import("foreach")
importFrom("RcppZiggurat", zrnorm)
#importFrom("sphereplot", rgl.sphgrid, rgl.sphpoints)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
